/*************TAG SELECTORS*********/



html {
    max-width: 100%;
    background-color: #E1E2FE;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
margin: 0 auto 0 auto;
font-size: 40px;
}



.flex{
    display:flex;
    background-color: red;
    width: 100%;
}

/***********CLASS SELECTORS********/



.heading{
    position: relative;
    top: 150px;
    /* margin-bottom: 200px; */
    min-height: 750px;

    
}




/***********ID SELECTORS********/



#job {
   position: relative;
   display: inline-block;
   font-size: 18px;
   left: 30px;
   /* top: 5%; */
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #E1E2FE;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }


  .skills{
      display:flex;
      background-color: black;
      height: 750px;
      width: 200px;
  }
/******LAPTOP SCREEN********/



@media only screen and (max-width: 414px) { 

    #my-name{
        margin-top: 50px;

    }


    #job {
        margin-left: 40px;
        font-size: 1.4rem;
    
    }
    

    .placement{
        background-color: pink;
        height: 200px;
        max-width: 414px;
        margin-top: 235px;
        
    }

    .heading{
        position: relative;
        top: 150px;
        /* margin-bottom: 200px; */
        height: 736px;
    
        
    }
}


@media only screen and (max-width: 375px) {
  


    #my-name{
        margin-top: 50px;

    }


    #job {
        margin-left: 40px;
        font-size: 1.4rem;
    
    }
    

    .placement{
        background-color: pink;
        height: 200px;
        max-width: 414px;
        margin-top: 295px;
        
    }

    .heading{
        position: relative;
        top: 150px;
        /* margin-bottom: 200px; */
        height: 812px;
    
        
    }

}

@media only screen and (min-width: 768px) {
   

}

@media only screen and (min-width: 1280px) {
   

}

@media only screen and (min-width: 2560px) {

    
}


