/*************TAG SELECTORS*********/



html {
    max-width: 100%;
    background-color: #E1E2FE;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
margin: 0 auto 0 auto;
font-size: 40px;
}



.flex{
    display:flex;
    background-color: #E1E2FE;;
    width: 100%;
}

/***********CLASS SELECTORS********/



.heading{
    position: relative;
    top: 150px;
    min-height: 812px;

    
}

.Robert{
    height: 150px;

}

.fly {
    position: absolute;
margin-left: auto;
margin-right: auto;
display: block;
width: 50%;
height: 180px;
left: 110px;
}

.placement{
        
    max-height: 190px;
    max-width: 414px;
    margin-top: 221px;
  
           
}

.skills{
    display:flex;
    background-color: blue;
    height: 812px;
    max-width: 1366px;
}

.skillbar{
    background-color: gray;
    width: 33%;
    max-height: 600px;
    ;


}



/***********ID SELECTORS********/

#my-name{
    margin-top: 0%;
}

#job {
   position: relative;
   display: inline-block;
   font-size: 18px;
   left: 30px;
   margin-left: 40px;
   font-size: 1.4rem;
   /* top: 5%; */
}





/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #E1E2FE;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }



/******LAPTOP SCREEN********/

